body {background-color: Aqua; font-family:Adobe Caslon Pro}
#HourlyPay {float: none; border-style: groove;border-color: Black}
#WorkHours {float: none; border-style: groove;border-color: Black}
#PreDeduction {float: none; border-style: groove;border-color: Black}
#AfterDeduction {float: none; border-style: groove;border-color: Black}

